$color_1: #333;
$color_2: white;
$background-color_1: #4caf50;
$background-color_2: #45a049;

.Player {
	border: 2px solid #333;
	padding: 15px;
	margin: 10px;
	width: 300px;
	text-align: center;
	h2 {
		color: $color_1;
	}
	p {
		margin: 10px 0;
	}
	button {
		background-color: $background-color_1;
		color: $color_2;
		padding: 10px;
		margin: 5px;
		cursor: pointer;
		border: none;
		border-radius: 5px;
		&:hover {
			background-color: $background-color_2;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	li {
		margin: 5px 0;
	}
}
